<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>
<script type="text/javascript" charset="utf-8">

</script>

<div id="orders_chart" style="width:560px; height:300px;">

</div>

<table>
  <thead>
    <tr>
      <th>Total price</th>
      <th>Purchased at</th>
      <th>Shipping</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.total_price %></td>
        <td><%= order.purchased_at %></td>
        <td><%= order.shipping %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
