<p id="notice"><%= notice %></p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @order.integer %>
</p>

<p>
  <strong>Purchased at:</strong>
  <%= @order.purchased_at %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @order.datetime %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @order.shipping %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @order.boolean %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
